ul.nav.nav-tabs
	li 
		a(href="#dashboard/profile") Profile
	li.active
		a(href="#shops") Shops
	li
		a(href="#report") Reports
	li 
		a(href="#messages") Messages
	li 
		a(href="#etc") Etc.
div.container-fluid(ui-view)