doctype html
html(ng-app="Shopen")
	head
		title Follow
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/globals.css')
		link(rel='stylesheet', href='/styles/style.css')
		script(src="scripts/settings.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
		script(src="http://requirejs.org/docs/release/2.1.20/comments/require.js")
		script(src="//connect.facebook.net/en_US/sdk.js")
		script(src="scripts/libs/angular-facebook.js")
		script(src="scripts/app.js")
		script(src="scripts/auth.js")
		script(src="scripts/controllers/dashboard.js")
		script(src="scripts/controllers/profile.js")
		
	body
		block content
