form#add_store.form-inline(ng-submit="add()")
	input.form-control(type="text", ng-model="store.name" minlength="5", maxlength="25" placeholder="Add New Store")
	button.btn.btn-default#store_submit(type="submit") Add
